<!DOCTYPE html>

<html>

<head>
    <title>FUTHORCIFY</title>
    <link href="style.css">
    <style>

    </style>

</head>

<header>
    <h1>FUTHORCIFY - ᚠᚢᚦᚩᚱᚳᛇᚠᚪᛇ</h1>
    By Ryan Copeland<br />A product of internet rabbit holes and boredum
</header>

<body>
    <p1>
        <form action="#" method="POST">
            <label for="input">Input Text</label><br />
            <textarea id="input" cols="50" name="input" rows="10"></textarea><br />
            <input type="submit" value="Translate" /><br /><br />
        </form>
    </p1>
    <h1>
        Translated Text
    </h1><br />
    <p2>
        {% translation %}
    </p2>
</body>

</html>