{% extends "base.html" %}
{% block title %}Explanation{% endblock %}
{% block content %}
<h1>Yes, this is my first time working with html</h1>
<h2>I normally prefer backend stuff and can get away with something like tkinter</h2>
<form action="#" method="POST">
    <p>Translator</p>
    <p> <input type="submit" name="move" value="translator" />
</form>
<form action="#" method="POST">
    <p>Key</p>
    <p> <input type="submit" name="move" value="key" />
</form>
<form action="#" method="POST">
    <p>Explanation</p>
    <p> <input type="submit" name="move" value="explanation" />
</form>
{% endblock %}