{% extends "base.html" %}
{% block title %}Key Page{% endblock %}
{% block content %}
<h1>Key for translations</h1>

<table>
    <tr>
        <th>
            Rune
        </th>
        <th>
            Sound
        </th>
        <th>
            IPA
        </th>
        <th>
            Name
        </th>
    </tr>
    <tr>
        <td>
            ᚠ
        </td>
        <td>
            f as in fast
        </td>
        <td>
            f
        </td>
        <td>
            feh
        </td>

    </tr>
    <tr>
        <td>
            ᚢ
        </td>
        <td>
            u as in
        </td>
        <td>
            u
        </td>
        <td>
            ur
        </td>

    </tr>
    <tr>
        <td>
            ᚦ
        </td>
        <td>
            th as in that
        </td>
        <td>
            θ, ð
        </td>
        <td>
            Thorn
        </td>

    </tr>
    <tr>
        <td>
            ᚩ
        </td>
        <td>
            o as in
        </td>
        <td>
            o
        </td>
        <td>
            Os
        </td>

    </tr>
    <tr>
        <td>
            ᚱ
        </td>
        <td>
            r as in riding
        </td>
        <td>
            r
        </td>
        <td>
            Rada
        </td>

    </tr>
    <tr>
        <td>
            ᚳ
        </td>
        <td>
            c as in cat
        </td>
        <td>
            k
        </td>
        <td>
            ken
        </td>

    </tr>
    <tr>
        <td>
            ᚷ
        </td>
        <td>
            g as in go
        </td>
        <td>
            g
        </td>
        <td>
            geofu
        </td>

    </tr>
    <tr>
        <td>
            ᚹ
        </td>
        <td>
            w as in wood
        </td>
        <td>
            w
        </td>
        <td>
            Wyn
        </td>

    </tr>
    <tr>
        <td>
            ᚻ
        </td>
        <td>
            H as in hi
        </td>
        <td>
            h
        </td>
        <td>
            Haegil
        </td>

    </tr>
    <tr>
        <td>
            ᚾ
        </td>
        <td>
            N as in next
        </td>
        <td>
            n
        </td>
        <td>
            Plight
        </td>

    </tr>
    <tr>
        <td>
            ᛁ
        </td>
        <td>
            ᛁ as in ice
        </td>
        <td>
            i
        </td>
        <td>
            Is
        </td>

    </tr>
    <tr>
        <td>
            ᛡ
        </td>
        <td>
            J as in jump
        </td>
        <td>

        </td>
        <td>
            year
        </td>

    </tr>
    <tr>
        <td>
            ᛇ
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
            Ih
        </td>

    </tr>
    <tr>
        <td>
            ᛈ
        </td>
        <td>
            P as in puppy
        </td>
        <td>
            p
        </td>
        <td>
            Peord
        </td>

    </tr>
    <tr>
        <td>
            ᛋ
        </td>
        <td>
            S as in sun
        </td>
        <td>
            s
        </td>
        <td>
            Sygil
        </td>

    </tr>
    <tr>
        <td>
            ᛏ
        </td>
        <td>
            T as in table
        </td>
        <td>
            t
        </td>
        <td>
            Ti
        </td>

    </tr>
    <tr>
        <td>
            ᛒ
        </td>
        <td>
            B as in bug
        </td>
        <td>
            b
        </td>
        <td>
            Berc
        </td>

    </tr>
    <tr>
        <td>
            ᛖ
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
            Eh
        </td>

    </tr>
    <tr>
        <td>
            ᛗ
        </td>
        <td>
            M as in mom
        </td>
        <td>
            m
        </td>
        <td>
            M
        </td>

    </tr>
    <tr>
        <td>
            ᛚ
        </td>
        <td>
            L as in like
        </td>
        <td>
            l
        </td>
        <td>
            Lagu
        </td>

    </tr>
    <tr>
        <td>
            ᛝ
        </td>
        <td>
            Ng as in running
        </td>
        <td>
            ŋ
        </td>
        <td>
            Ing
        </td>

    </tr>
    <tr>
        <td>
            ᛟ
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
            Oedil
        </td>

    </tr>
    <tr>
        <td>
            ᛞ
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
            Daeg
        </td>

    </tr>
    <tr>
        <td>
            ᚪ
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
            Ac
        </td>

    </tr>
    <tr>
        <td>
            ᚫ
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
            Aesc
        </td>

    </tr>
    <tr>
        <td>
            ᛠ
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
            Ear
        </td>

    </tr>
    <tr>
        <td>
            ᚣ
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
            Yr
        </td>

    </tr>
    <tr>
        <td>
            ᛣ
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
            calc
        </td>

    </tr>
</table>

{% endblock %}